<footer id="footer" class="footer-section">
  <div class="container footer-container">
    <div class="footer-display-container">
      <div class="footer-heading-container">
        <strong class="footer-header-text"
          ><span class="footer-header-heading-word"> Chocolate</span> a
          delicious cure for a bad day</strong
        >
      </div>
      <div class="footer-contacts">
        <address class="footer-contacts-address">
          <p class="footer-contacts-heading">Contact us</p>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a class="footer-contacts-link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts-item">
              <a class="footer-contacts-link" href="mailto:simplychoc@gmail.com"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <ul class="footer-contacts-social">
          <li class="footer-social-list-item">
            <a href="" class="footer-social-list-link">
              <svg class="footer-social-list-icon" width="24" height="24">
                <use href="img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-list-item">
            <a href="" class="footer-social-list-link">
              <svg class="footer-social-list-icon" width="24" height="24">
                <use href="img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#home">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#how-its-made"
            >How it&#96;s made&#63;</a
          >
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#our-products">Our products</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#chocolate-is-loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
