<section class="hero-section container">
  <div class="hero-container">
    <h1 class="visually-hidden"></h1>
    <h2 class="hero-slogan">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <ul class="list hero-list">
      <li>
        <button class="button hero-buy-btn" type="button">Buy now</button>
      </li>
      <li>
        <a class="link hero-how-its-made" href="#how-its-made">How it's made</a>
      </li>
    </ul>
    <div class="hero-scroll-down-wrapper">
      <!-- <p class="hero-scroll-text">scroll down</p> -->
      <a class="link hero-scroll-link" href="#footer">
        scroll down
        <svg class="hero-scroll-icon" width="12" height="12">
          <use href="../img/icons.svg#scroll-button"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
