<section class="hero-section section container">
  <div class="hero-container">
    <h1 class="visually-hidden">Simply chocolate</h1>
    <p class="hero-slogan">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-buttons">
      <div>
        <button
          class="button hero-buy-btn"
          type="button"
          data-modal-open="modal-1"
        >
          Buy now
        </button>
      </div>
      <div>
        <a class="link hero-how-its-made" href="#how-its-made">How it's made</a>
      </div>
      <div>
        <div class="hero-scroll-down-wrapper">
          <a class="link hero-scroll-link" href="#footer">
            scroll down
            <svg class="hero-scroll-icon" width="16" height="16">
              <use href="img/icons.svg#scroll-button"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
