<!-- How its made section -->
<section class="section" id="how-its-made">
  <div class="container">
    <h2 class="section-title how-made-title">
      How it&#8217;s <span class="how-made-color">made&#63;</span>
    </h2>
    <div class="how-made-section">
      <div class="wrapper-video">
        <div class="player">
          <video
            class="video"
            poster="img/How_its_made/its_made_tablet.jpg"
            preload="auto"
            muted
          >
            <source src="video/chocolate_mp4.mp4" type="video/mp4" />
            <source src="video/chocolate_webm.webm" type="video/webm" />
          </video>
          <div class="controls">
            <div class="controls_play">
              <img
                class="play_btn"
                src="img/How_its_made/play.svg"
                alt="play"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="how-made-information">
        <p class="how-made-text">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="how-made-list">
          <li class="how-made-item">
            <span class="list-decor"></span>
            <p>
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-made-item">
            <span class="list-decor"></span>
            <p>
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-made-item">
            <span class="list-decor"></span>
            <p>
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="how-made-item">
            <span class="list-decor"></span>
            <p>Heat the mixture over low heat, letting it barely boil.</p>
          </li>
          <li class="how-made-item">
            <span class="list-decor"></span>
            <p>
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
