<section>
  <div>
    <h2>How it's <span>made&#63;</span></h2>
    <div class="wrapper">
      <div class="player">
        <video
          class="video"
          width="335"
          height="500"
          poster="img/How_its_made/its_made.jpg"
          preload="auto"
        >
          <source src="../video/chocolate_mp4.mp4" type="video/mp4" />
          <source src="../video/chocolate_webm.webm" type="video/webm" />
        </video>
        <div class="controls">
          <div class="controls_play">
            <img
              class="play_btn"
              src="./img/How_its_made/play.svg"
              alt="play"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <p>Try our chocolates today and discover the perfect balance of flavor</p>
      <ul>
        <li>
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li>At the same time, prepare a water bath. Melt the butter on it.</li>
        <li>
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li>Heat the mixture over low heat, letting it barely boil.</li>
        <li>
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
