<!-- Order/Buy modal -->
<div class="backdrop is-hidden" data-modal>
  <div id="modal-review" class="modal-container">
    <button type="button" class="modal-close-btn" data-modal-close>
      <button type="button" class="modal-close-btn" data-modal-close>
        <svg class="modal-close-icon" width="12" height="12">
          <use href="../img/icons.svg#close-button"></use>
        </svg>
      </button>
    </button>
    <div class="heading-container">
      <strong class="modal-heading"
        >leave a review<br />
        about<span class="mod-headning-highlighted">
          our chocolate</span
        ></strong
      >
    </div>
    <form class="modal-form" name="modal_form" autocomplete="on">
      <div class="form-wrapper">
        <input
          class="modal-input"
          type="text"
          name="modal_name"
          id="modal_name"
          placeholder="Name"
          required
        />
      </div>
      <div class="form-wrapper">
        <input
          class="modal-input"
          type="email"
          name="modal_email"
          id="modal_email"
          required
          placeholder="Enter your email"
        />
      </div>
      <div class="tel-form-wrapper">
        <div class="prefix-wrapper">
          <svg class="flag-icon" width="24" height="24">
            <use href="../img/icons.svg#flag"></use>
          </svg>
          <span class="prefix">+380</span>
        </div>
        <input
          class="tel-input"
          type="tel"
          name="modal_tel"
          id="modal_tel"
          placeholder="Phone number"
        />
      </div>
      <textarea
        class="modal-input-comment"
        id="modal_comment"
        rows="6"
        placeholder="Enter text"
      ></textarea>
      <button type="submit" class="modal-buy-btn">Send</button>
    </form>
  </div>
</div>
