<div class="backdrop js-overlay-modal" id="modal-subscribe">
  <div class="modal">
    <div class="overlay-img">
      <picture alt="lots of chocolate">
        <!-- Desktop and tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/modal-subsctibe/img-1desc-tabl@1x .webp,
            ../img/modal-subsctibe/img-1desc-tabl@2x .webp "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/modal-subsctibe/img-1desc-tabl@1x .jpg,
            ../img/modal-subsctibe/img-1desc-tabl@2x .jpg"
          type="image/jpg"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/modal-subsctibe/img-1mob@1x .webp,
            ../img/modal-subsctibe/img-1mob@2x .webp
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/modal-subsctibe/img-1mob@1x .jpg,
            ../img/modal-subsctibe/img-1mob@2x .jpg
          "
          type="image/jpg"
        />
      </picture>
    </div>
    <button class="close-modal js-modal-close" type="submit">
      <svg class="modal-icon" width="12" height="12">
        <use href="../img/icons.svg#close-button"></use>
      </svg>
    </button>
    <h2 class="section-title modal-title">
      explore our <span class="orange-path">new chocolate</span> first!
    </h2>
    <form class="modal-form">
      <input
        class="input"
        type="email"
        id="user_email"
        placeholder="Enter your email"
        required
      />
      <button class="button close-button js-modal-close" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
