<div class="backdrop" data-modal="modal-3">
  <div class="modal">
    <div class="overlay-img">
      <button class="close-modal" type="submit" data-modal-close>
        <svg class="modal-icon" width="24" height="24">
          <use href="img/icons.svg#close-button"></use>
        </svg>
      </button>
    </div>
    <div class="modal-text">
      <h2 class="section-title modal-title">
        explore our <br /><span class="orange-path">new chocolate</span> first!
      </h2>
      <form class="modal-form">
        <input
          class="input"
          type="email"
          placeholder="Enter your email"
          required
        />
        <button class="button close-button" type="submit" data-modal-close>
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
