<div class="overlay js-overlay-modal" id="modal-subscribe">
  <div class="modal" data-modal="modal-subscribe">
    <div class="overlay-img">
      <button class="close-modal js-modal-close" type="submit">
      <svg class="modal-icon" width="12" height="12">
        <use href="img/icons.svg#close-button"></use>
      </svg>
    </button>     
    </div>    
    <div class="modal-text">
      <h2 class="section-title modal-title">
        explore our <br><span class="orange-path">new chocolate</span> first!
      </h2>
      <form class="modal-form">
        <input
          class="input"
          type="email"          
          placeholder="Enter your email"
          required
        />
        <button class="button close-button js-modal-close" type="submit">
          Submit
        </button>
    </div>
    </form>
  </div>
</div>
