<section class="section">
  <div class="container">
    <h2>Our Products</h2>
    <ul class="our-product-list">
      <li class="our-product-item">
        <img
          class=""
          srcset="
            ../img/our-products/product-image1@1x.jpg 1x,
            ../img/our-products/product-image1@2x.jpg 2x
          "
          src="../img/our-products/product-image1@1x.jpg"
          alt="Orange chocolate"
          width="230"
          height="201"
        />
        <div class="">
          <h3 class="">orange</h3>
          <p class="">Dark chocolate</p>
          <button type="button">45 UAH</button>
        </div>
      </li>
      <!-- <li class="">
        <img
          class=""
          srcset="
            ../img/our-products/product-image2@1x.jpg 1x,
            ../img/our-products/product-image2@2x.jpg 2x
          "
          src="../img/our-products/product-image2@1x.jpg"
          alt="Orange chocolate"
          width="230"
          height="201"
        />
        <div class="">
          <h3 class="">APPLE&CRANBERRY</h3>
          <p class="">Milk chocolate</p>
          <button type="button">50 UAH</button>
        </div>
      </li>
      <li class="">
        <img
          class=""
          srcset="
            ../img/our-products/product-image3@1x.jpg 1x,
            ../img/our-products/product-image3@2x.jpg 2x
          "
          src="../img/our-products/product-image3@1x.jpg"
          alt="Orange chocolate"
          width="230"
          height="201"
        />
        <div class="">
          <h3 class="">lime&sea salt</h3>
          <p class="">Dark chocolate</p>
          <button type="button">66 UAH</button>
        </div>
      </li>
      <li class="">
        <img
          class=""
          srcset="
            ../img/our-products/product-image4@1x.jpg 1x,
            ../img/our-products/product-image4@2x.jpg 2x
          "
          src="../img/our-products/product-image4@1x.jpg"
          alt="Orange chocolate"
          width="230"
          height="201"
        />
        <div class="">
          <h3 class="">pineapple</h3>
          <p class="">Dark chocolate</p>
          <button type="button">54 UAH</button>
        </div>
      </li> -->
    </ul>
  </div>
</section>
