<section class="section section-reviews">
  <div class="container">
    <h2 class="section-title section-title-reviews">
      <span class="second-part-reviews">CHOCOLATE</span> IS LOVED
    </h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper container-reviews">
        <!-- Slides -->
        <!-- Victoria -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/victoria_dobrzhanska.png     1x,
                    img/reviews/victoria_dobrzhanska_@2x.png 2x
                  "
                  src="img/reviews/victoria_dobrzhanska.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Victoria Dobrzhanska</h3>
              </div>
              <p class="text-description">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </div>
        <!-- Nazar -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/nazar_babenko.png     1x,
                    img/reviews/nazar_babenko_@2x.png 2x
                  "
                  src="img/reviews/nazar_babenko.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Nazar Babenko</h3>
              </div>
              <p class="text-description">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </div>
        <!-- Olena -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/olena_kampusch.png     1x,
                    img/reviews/olena_kampusch_@2x.png 2x
                  "
                  src="img/reviews/olena_kampusch.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Olena Kampusch</h3>
              </div>
              <p class="text-description">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </div>
        <!-- Natalia -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/natalia_sus.png     1x,
                    img/reviews/natalia_sus_@2x.png 2x
                  "
                  src="img/reviews/natalia_sus.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Natalia Sus</h3>
              </div>
              <p class="text-description">
                The chocolate assortment was delicious. Both dark and milk
                chocolate pieces were smooth and just right on the sweetness
                level.
              </p>
            </div>
          </div>
        </div>
        <!-- Danylo -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/danilo_nottingham.png     1x,
                    img/reviews/danilo_nottingham_@2x.png 2x
                  "
                  src="img/reviews/danilo_nottingham.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Danilo Nottingham</h3>
              </div>
              <p class="text-description">
                This is delicious. It so rich and flavorful you don’t need to
                use as many. I love topping an apple with almond butter and
                these chips for a snack.
              </p>
            </div>
          </div>
        </div>
        <!-- Iryna -->
        <div class="review-slide swiper-slide">
          <div class="reviews-text-wrapper">
            <div class="slide-wrapper">
              <div class="reviews-img-wrapper">
                <img
                  class="reviews-slide-img"
                  srcset="
                    img/reviews/irina_tydnyuk.png     1x,
                    img/reviews/irina_tydnyuk_@2x.png 2x
                  "
                  src="img/reviews/irina_tydnyuk.png"
                  alt="client photo"
                  width="80"
                  height="80"
                />
                <h3 class="reviews-client">Irina Tydnyuk</h3>
              </div>
              <p class="text-description">
                This is simply the best chocolate around, and I'm just thrilled
                to support a local company! Best local chocolate - world class
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <button
      class="client-button js-open-modal"
      type="button"
      data-modal="modal-review"
    >
      Leave a review
    </button>
  </div>
</section>
