<section class="section">
    <div class="container container-reviews">
    <h2 class="section-title first-part">CHOCOLATE<span class="second-part"> IS LOVED</span></h2>
    <div class="swiper">
    <div class="swiper-wrapper">
    <div class="swiper-slide reviews-slide">
    <div class="reviews-slide-img">
    <img class="reviews-slide-img-client" 
    srcset="../img/reviews/victoriadobrzhanska.jpg 1x"
    srcset="../img/reviews/victoriadobrzhanska@2x.jpg 2x"
    src="../img/reviews/victoriadobrzhanska.jpg" alt="client photo" width="80" height="80"/>   
    <h3 class="reviews-slide-img-client-name">Victoria Dobrzhanska</h3>
    </div>
    <div class="reviews-text-wrapper"> 
    <p class="client-text">
       I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.  
    </p> 
    </div>
   </div>


    <div class="swiper-slide reviews-slide">
    <div class="reviews-slide-img">
    <img class="reviews-slide-img-client" 
    srcset="../img/reviews/nazarbabenko@2x.jpg 2x"
    src="../img/reviews/nazarbabenko.jpg" alt="client photo" width="80" height="80"/>
    <h3 class="reviews-slide-img-client-name">Nazar Babenko</h3>
    </div>
    <div class="reviews-text-wrapper">
    <p class="client-text">
       This chocolate confection is a delight!
       A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.
    </p> 
    </div>
    </div>

    <div class="swiper-slide reviews-slide">
    <div class="reviews-slide-img">
    <img class="reviews-slide-img-client" 
    srcset="../img/reviews/olena kampusch@2x.jpg 2x"
    src="../img/reviews/olenakampusch.jpg" alt="client photo" width="80" height="80"/> 
    <h3 class="reviews-slide-img-client-name">Olena Kampusch</h3>
    </div>
    <div class="reviews-text-wrapper">
    <p class="client-text">
       Chocolate is a family favourite treat. 
       Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.
     </p> 
     </div> 
     </div>
     
     
     <div class="swiper-pagination"></div>
     </div>
     </div>
     </div>
     <button class="client-button" type="button" data-modal-open>Leave a review</button>
     </div>
</div>
</section>

