<section class="section">
  <div class="container">
    <h2 class="ts-title section-title">
      <span class="ts-title-color">Top</span> Sellers
    </h2>
    <div class="adpt-conrainer-mob">
      <ul class="ts-mob-list-first">
        <li>
          <img class="ts-img" src="../img/top_sellers/mob1@1x.jpg" alt="" />
        </li>
        <li>
          <p class="ts-text-mob section-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
      </ul>
      <ul class="ts-mob-list-second">
        <li>
          <img class="ts-img" src="../img/top_sellers/mob2@1x.jpg" alt="" />
        </li>
        <li>
          <button class="ts-buy-btn button" type="button">Buy now</button>
        </li>
      </ul>
    </div>
    <div class="adpt-container">
      <ul class="ts-list">
        <li class="ts-list-item">
          <img
            class="ts-img"
            src="../img/top_sellers/ts1desc@1x.jpg"
            alt="chocolate1"
          />
        </li>
        <li class="ts-list-item">
          <img
            class="ts-img"
            src="../img/top_sellers/ts2desc@1x.jpg"
            alt="chocolate2"
          />
        </li>
        <li class="ts-list-item adpt-hidden">
          <img
            class="ts-img"
            src="../img/top_sellers/ts3desc@1x.jpg"
            alt="chocolate3"
          />
        </li>
      </ul>
      <div class="ts-info-cont">
        <p class="ts-text section-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button class="ts-buy-btn button" type="button">Buy now</button>
      </div>
    </div>
  </div>
</section>
