<!-- Top Sellers -->
<section class="section" id="top-sellers">
  <div class="container">
    <h2 class="ts-title section-title">
      <span class="ts-title-color">Top</span> Sellers
    </h2>
    <ul class="ts-list">
      <li class="ts-list-item ts-order-two">
        <img
          class="ts-img"
          srcset="
            img/top_sellers/img0_335.jpg 335w,
            img/top_sellers/img0_344.jpg 344w,
            img/top_sellers/img0_368.jpg 368w,
            img/top_sellers/img0_670.jpg 670w,
            img/top_sellers/img0_688.jpg 688w,
            img/top_sellers/img0_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px,
            (min-width: 768px) 344px,
            (min-width: 375px) 335px,
                  100vw"
          src="img/top_sellers/img0_335.jpg"
          alt="chocolate1"
          width="335"
          height="464"
        />
      </li>
      <li class="ts-list-item adpt-hidden">
        <img
          class="ts-img"
          srcset="
            img/top_sellers/img02_368.jpg 368w,
            img/top_sellers/img02_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px,
                  100vw"
          src="img/top_sellers/img02_368.jpg"
          alt="chocolate3"
          width="368"
          height="464"
        />
      </li>
      <li class="ts-list-item ts-list-text">
        <p class="ts-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="ts-list-item ts-order">
        <img
          class="ts-img"
          srcset="
            img/top_sellers/img01_335.jpg 335w,
            img/top_sellers/img01_344.jpg 344w,
            img/top_sellers/img01_368.jpg 368w,
            img/top_sellers/img01_670.jpg 670w,
            img/top_sellers/img01_688.jpg 688w,
            img/top_sellers/img01_736.jpg 736w
          "
          sizes="(min-width: 1200px) 368px,
            (min-width: 768px) 344px,
            (min-width: 375px) 335px,
                  100vw"
          src="img/top_sellers/img01_335.jpg"
          alt="chocolate2"
          width="335"
          height="464"
        />
      </li>
      <li>
        <button class="ts-buy-btn" type="button" data-modal-open="modal-1">
          Buy now
        </button>
      </li>
    </ul>
  </div>
</section>
