<section class="section" id="top-sellers">
  <div class="container">
    <h2 class="ts-title section-title">
      <span class="ts-title-color">Top</span> Sellers
    </h2>
    <div class="adpt-conrainer-mob">
      <ul class="ts-mob-list-first">
        <li>
          <img
            class="ts-img"
            srcset="
              img/top_sellers/mob1@1x.jpg 1x,
              img/top_sellers/mob1@2x.jpg 2x
            "
            src="img/top_sellers/mob1@1x.jpg"
            alt=""
          />
        </li>
        <li>
          <p class="ts-text-mob section-text">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </li>
      </ul>
      <ul class="ts-mob-list-second">
        <li>
          <img
            class="ts-img"
            srcset="
              img/top_sellers/mob2@1x.jpg 1x,
              img/top_sellers/mob2@2x.jpg 2x
            "
            src="img/top_sellers/mob2@1x.jpg"
            alt=""
          />
        </li>
        <li>
          <button class="ts-buy-btn" type="button">Buy now</button>
        </li>
      </ul>
    </div>
    <div class="adpt-container">
      <ul class="ts-list">
        <li class="ts-list-item">
          <picture>
            <source
              srcset="
                img/top_sellers/ts1desc@1x.jpg 1x,
                img/top_sellers/ts1desc@2x.jpg 2x
              "
              media="(min-width: 1200px)"
              sizes="368"
              type="image/jpeg"
            />
            <source
              srcset="
                img/top_sellers/tab1@1x.jpg 1x,
                img/top_sellers/tab1@2x.jpg 2x
              "
              media="(min-width: 768px)"
              sizes="344"
              type="image/jpeg"
            />
            <img
              class="ts-img"
              src="../img/top_sellers/ts1desc@1x.jpg"
              alt="chocolate1"
            />
          </picture>
        </li>
        <li class="ts-list-item">
          <picture>
            <source
              srcset="
                img/top_sellers/ts2desc@1x.jpg 1x,
                img/top_sellers/ts2desc@2x.jpg 2x
              "
              media="(min-width: 1200px)"
              sizes="368"
              type="image/jpeg"
            />
            <source
              srcset="
                img/top_sellers/tab2@1x.jpg 1x,
                img/top_sellers/tab2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              sizes="344"
              type="image/jpeg"
            />
            <img
              class="ts-img"
              src="img/top_sellers/ts2desc@1x.jpg"
              alt="chocolate2"
            />
          </picture>
        </li>
        <li class="ts-list-item adpt-hidden">
          <img
            class="ts-img"
            srcset="
              img/top_sellers/ts3desc@1x.jpg 1x,
              img/top_sellers/ts3desc@2x.jpg 2x
            "
            src="img/top_sellers/ts3desc@1x.jpg"
            alt="chocolate3"
            width="368"
          />
        </li>
      </ul>
      <div class="ts-info-cont">
        <p class="ts-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
        <button class="ts-buy-btn" type="button">Buy now</button>
      </div>
    </div>
  </div>
</section>
