<section class="section-components section">
    <div class="container">
        <div class="section-comp-container">
            <h2 class="section-components-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="accent">TASTE</span> SENSATION</h2>
            <p class="section-components-about">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
        </div>
         <ul class="components-list list">
            <li class="components-item">
                <div class="front-item ">
                    <img class="front-item-img"
                    srcset="../img/unique-comp/milk-choc-mob-tab@2x.png 2x"
                    src="../img/unique-comp/milk-choc-mob-tab.png"
                    alt="milk-choc"
                    width="224"
                    height="171">
                    <p class="front-item-name">Milk chocolate</p>
                </div>
                <div class="back-item overlay">
                    <h3 class="back-item-title">Milk chocolate</h3>
                    <div class="back-items-block">
                        <p class="back-item-ingredient">chocolate</p>
                        <p class="back-item-benefits">the benefits</p>
                    </div>
                    <p class="back-item-about">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                </div>
            </li>
            <li class="components-item">
                <div class="front-item front-item-milk">
                    <img  class="front-item-img"
                    srcset="../img/unique-comp/white-milk-mob-tab@2x.png 2x"
                    src="../img/unique-comp/white-milk-mob-tab.png"
                    alt="white-milk"
                    width="224"
                    height="171">
                    <p class="front-item-name secondary-name">Milk</p>
                </div>
                <div class="back-item overlay">
                    <h3 class="back-item-title">Milk</h3>
                    <div class="back-items-block">
                        <p class="back-item-ingredient">milk</p>
                        <p class="back-item-benefits">the benefits</p>
                    </div>
                    <p class="back-item-about">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                </div>
            </li>
            <li class="components-item">
                <div class="front-item front-item-nuts">
                    <img class="front-item-img"
                    srcset="../img/unique-comp/nuts-mob-tab@2x.png 2x"
                    src="../img/unique-comp/nuts-mob-tab.png"
                    alt="nuts"
                    width="224"
                    height="171">
                    <p class="front-item-name ">Nuts</p>
                </div>
                <div class="back-item overlay">
                    <h3 class="back-item-title">Nuts</h3>
                    <div class="back-items-block">
                        <p class="back-item-ingredient">nuts</p>
                        <p class="back-item-benefits">the benefits</p>
                    </div>
                    <p class="back-item-about">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                </div>
            </li>
            <li class="components-item">
                <div class="front-item front-item-hotchoc">
                    <img class="front-item-img"
                    srcset="../img/unique-comp/hot-choc-mob-tab@2x.png 2x"
                    src="../img/unique-comp/hot-choc-mob-tab.png"
                    alt="hot-choc"
                    width="224"
                    height="171">
                    <p class="front-item-name secondary-name">Semi - sweet chocolate</p>
                </div>
                <div class="back-item overlay">
                    <h3 class="back-item-title">Semi - sweet chocolate</h3>
                    <div class="back-items-block">
                        <p class="back-item-ingredient">sweet chocolate</p>
                        <p class="back-item-benefits">the benefits</p>
                    </div>
                    <p class="back-item-about">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
