<section class="section-components section">
  <div class="container">
    <div class="section-comp-container">
      <h2 class="section-components-title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="accent">TASTE</span> SENSATION
      </h2>
      <p class="section-components-about">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="components-list list">
      <li class="components-item">
        <div class="flip">
          <div class="front-item">
            <img
              class="front-item-img"
              srcset="
                img/unique-components/chocolate_206.png 206w,
                img/unique-components/chocolate_224.png 224w,
                img/unique-components/chocolate_412.png 412w,
                img/unique-components/chocolate_448.png 448w
              "
              sizes="(min-width: 1200px) 206px,
              (min-width: 376px) 224px,
              100vw"
              src="img/unique-components/chocolate_224.png"
              alt="milk-choc"
              width="224"
              height="171"
            />
            <p class="front-item-name">Milk chocolate</p>
          </div>
          <div class="back-item">
            <h3 class="back-item-title">Milk chocolate</h3>
            <div class="back-items-block">
              <p class="back-item-ingredient">chocolate</p>
              <p class="back-item-benefits">the benefits</p>
            </div>
            <p class="back-item-about">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="flip">
          <div class="front-item front-item-milk">
            <img
              class="front-item-img"
              srcset="
                img/unique-components/milk_206.png 206w,
                img/unique-components/milk_224.png 224w,
                img/unique-components/milk_412.png 412w,
                img/unique-components/milk_448.png 448w
              "
              sizes="(min-width: 1200px) 206px,
              (min-width: 376px) 224px,
              100vw"
              src="img/unique-components/milk_224.png"
              alt="milk-choc"
              width="224"
              height="171"
            />
            <p class="front-item-name secondary-name">Milk</p>
          </div>
          <div class="back-item">
            <h3 class="back-item-title">Milk</h3>
            <div class="back-items-block">
              <p class="back-item-ingredient">milk</p>
              <p class="back-item-benefits">the benefits</p>
            </div>
            <p class="back-item-about">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="flip">
          <div class="front-item front-item-nuts">
            <img
              class="front-item-img"
              srcset="
                img/unique-components/nuts_206.png 206w,
                img/unique-components/nuts_224.png 224w,
                img/unique-components/nuts_412.png 412w,
                img/unique-components/nuts_448.png 448w
              "
              sizes="(min-width: 1200px) 206px,
              (min-width: 376px) 224px,
              100vw"
              src="img/unique-components/nuts_224.png"
              alt="milk-choc"
              width="224"
              height="171"
            />
            <p class="front-item-name">Nuts</p>
          </div>
          <div class="back-item">
            <h3 class="back-item-title">Nuts</h3>
            <div class="back-items-block">
              <p class="back-item-ingredient">nuts</p>
              <p class="back-item-benefits">the benefits</p>
            </div>
            <p class="back-item-about">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="components-item">
        <div class="flip">
          <div class="front-item front-item-hotchoc">
            <img
              class="front-item-img"
              srcset="
                img/unique-components/semi_206.png 206w,
                img/unique-components/semi_224.png 224w,
                img/unique-components/semi_412.png 412w,
                img/unique-components/semi_448.png 448w
              "
              sizes="(min-width: 1200px) 206px,
              (min-width: 376px) 224px,
              100vw"
              src="img/unique-components/semi_224.png"
              alt="milk-choc"
              width="224"
              height="171"
            />
            <p class="front-item-name secondary-name">Semi - sweet chocolate</p>
          </div>
          <div class="back-item">
            <h3 class="back-item-title">Semi - sweet chocolate</h3>
            <div class="back-items-block">
              <p class="back-item-ingredient">sweet chocolate</p>
              <p class="back-item-benefits">the benefits</p>
            </div>
            <p class="back-item-about">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter and
              more mellow.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
