/* npm run dev */

.advantages {
  background-color: #1e1823;
}

.advantages-container {
  padding-top: 20px;

  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .advantages-container {
    padding: 50px 0px;
  }
}

.advantages-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  .advantages-ul {
    gap: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .advantages-ul {
    gap: 70px;
  }
}
.advantages-li {
  max-width: 336px;
  height: 100%;
  padding-right: 28px;
  box-sizing: border-box;
}
/* @media only screen and (min-width: 768px) {
  .advantages-li {
    height: 244px;
  }
} */
.advantages-text {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media only screen and (min-width: 1200px) {
  .advantages-li {
    width: 326px;
  }
  .advantages-li {
    padding-right: 18px;
    position: relative;
  }
  .advantages-ul {
    width: 1100px;
    margin: 0 auto;
  }
  .advantages-li:last-child {
    padding-right: 0;
    width: 308px;
  }
  .ad-with-after::after {
    content: '';
    width: 124px;
    height: 0px;
    display: block;
    position: absolute;

    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);

    flex: none;
    order: 1;
    flex-grow: 0;
    top: 50%;
    left: 264px;
  }
}
.advantages-pic-container {
  display: flex;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.advantages-pic {
  fill: var(--secondary-color);
}
.advantages-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 2.2;

  color: #ffffff;
}
.advantages-article {
  color: rgba(255, 255, 255, 0.7);
}
