.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(128, 128, 128, 0.4);
  backdrop-filter: blur(1px);
  z-index: 100;
  transition: opacity var(--transition-dur-timing-func),
    visibility var(--transition-dur-timing-func);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-buy {
  width: 311px;
  padding: 32px 24px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
}

@media only screen and (min-width: 768px) {
  .modal-buy {
    width: 609px;
    padding: 48px;
  }
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50% -90%);
}
.modal-close-btn {
  background-color: var(--primary-background-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-timing-func);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .modal-close-btn {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
}
.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  background-color: var(--hover-btn-color);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active .modal-close-icon {
  fill: linear-gradient(
    90deg,
    rgba(212, 69, 40, 1) 100%,
    rgba(241, 101, 41, 1) 100%
  );
}

.modal-close-icon {
  transition: fill var(--transition-dur-timing-func);
}
@media only screen and (min-width: 768px) {
  .modal-choc-list {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }
}
.modal-choc-container {
  padding: 8px 16px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 74px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .modal-choc-container {
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    width: 160px;
    height: 196px;
  }
}
@media only screen and (min-width: 768px) {
  .modal-choc-item {
  }
}
.modal-choc-pic {
  margin-right: auto;
}
.modal-buy-chocolate-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px 16px;
  width: 73px;
  height: 29px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
.modal-buy-chocolate-button:hover,
.modal-buy-chocolate-button:focus,
.modal-buy-chocolate-button:active {
  background-color: var(--secondary-color);
}

.modal-chocolate-btn-txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.modal-buy-chocolate-button:hover,
.modal-buy-chocolate-button:focus,
.modal-buy-chocolate-button:active .modal-chocolate-btn-txt {
  color: white;
}
/* MODAL Form */
label {
  display: block;
}
.prefix-wrapper {
  padding-right: 8px;
  position: absolute;
  top: 10px;
  left: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}
@media only screen and (min-width: 768px) {
  .prefix-wrapper {
    top: 17px;
    left: 24px;
    padding-right: 20px;
  }
}
.tel-form-wrapper {
  position: relative;
}
.flag-icon {
  pointer-events: none;
  margin-right: 8px;
}
@media only screen and (min-width: 768px) {
  .flag-icon {
    margin-right: 18px;
    width: 32px;
    height: 32px;
  }
}
.tel-input {
  width: 100%;
  height: auto;
  background-color: var(--primary-background-color);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  display: flex;
  outline-offset: -1px;
  padding: 14px 18px 14px 106px;
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .tel-input {
    min-width: 246px;
    min-height: 66px;
    padding: 17px 24px 17px 177px;
  }
}
.card-form-wrapper {
  position: relative;
}
.ccn-icon {
  position: absolute;
  right: 12px;
  top: 12px;
}
@media only screen and (min-width: 768px) {
  .ccn-icon {
    top: 18px;
    right: 24px;
    width: 44px;
    height: 30px;
  }
}

.modal-heading {
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-bottom: 32px;
}
.mod-headning-highlighted {
  color: var(--secondary-color);
}
.modal-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .modal-label {
    font-size: 14px;
    line-height: 18px;
  }
}
.modal-buy-list {
  display: flex;
  flex-direction: column;
  column-gap: 21px;
}
@media only screen and (min-width: 768px) {
  .modal-buy-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.modal-input {
  width: 100%;
  height: auto;
  background-color: var(--primary-background-color);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  display: flex;
  outline-offset: -1px;
  padding: 14px 18px;
  margin-bottom: 18px;
}
@media only screen and (min-width: 768px) {
  .modal-input {
    min-width: 246px;
    min-height: 66px;
  }
}
.modal-input:focus {
  outline: 1px solid var(--secondary-color);
  transition: outline var(--transition-dur-timing-func);
}

.modal-input-comment {
  background-color: var(--primary-background-color);
  width: 100%;
  height: auto;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  resize: none;
  outline-offset: -1px;
  padding: 14px 18px;
  margin-bottom: 18px;
}
.modal-input-comment:focus {
  outline: 1px solid var(--secondary-color);
  transition: outline var(--transition-dur-timing-func);
}
.modal-buy-btn {
  width: 109px;
  height: 41px;
  background-color: var(--secondary-color);
  color: #ffffff;
  border-radius: 100px;
}
@media only screen and (min-width: 768px) {
  .modal-buy-btn {
    width: 133px;
    height: 45px;
  }
}
.modal-buy-btn:hover,
.modal-buy-btn:focus,
.modal-buy-btn:active {
  background-color: var(--hover-btn-color);
  color: var(--secondary-color);
}
