.swiper {
  width: 100%;
  height: 364px;
}

.swiper-wrapper {
  gap: 18px;
}
.swiper-slide {
  width: 100%;
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .swiper-slide {
    width: 270px !important;
  }
}
.product-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}
.section-title-products {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .section-title-products {
    margin-bottom: 50px;
  }
}
.product-title-color {
  color: var(--secondary-color);
}
.element-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 8px 20px;
  background: #fafafa;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  margin-top: 18px;
}
.element-title {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.element-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
  letter-spacing: -0.02em;
}
.product-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 8px;
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 100px 100px;

  background: var(--secondary-color);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .swiper-pagination {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .swiper-pagination {
    padding-bottom: 128px;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}
.swiper,
swiper-container {
  position: static;
}
.swiper-wrapper {
  position: static;
}
.section-products {
  padding-bottom: 105px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .section-products {
    padding-bottom: 145px;
  }
}

@media only screen and (min-width: 1200px) {
  .section-products {
    padding-bottom: 173px;
  }
}
