
.reviews-first-part {
 color: #FD9222;
 margin-bottom: 32px; 
}

.second-part {
 color: #111111; 
}

.reviews-container {  
  height: 404px;  
}

.reviews-button {
 background-color: tomato;
}  

.swiper-reviews {
  gap: 18px;  
}


.swiper-slide {
  box-sizing: border-box;
  background: #FFFFFF;
border: 1px solid rgba(17, 17, 17, 0.1);
box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
border-radius: 15px;
height: 200px;

}
.reviews-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 18px; 
position: relative;
}




