
.container-reviews {
  height: 404px;  
}

 .first-part {
 color: #FD9222;
 padding-bottom: 32px; 
}

 .second-part {
 color: #111111; 
}


.reviews-slide-img {
  display: flex;  
  position: relative;
  height: 122px; 
  width: 200px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center; 
}

.reviews-slide-img-client {
  position: absolute;
  left: 72px;
  top: 0px;
  width: 80px;
  height: 80px;
  

}

.reviews-slide-img-client-name {
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.33;
text-align: center;
color: #111111;
}