.section.subscribe-section {
  padding-top: 62px;
}
.subscribe-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 63px;

  background-color: var(--secondary-background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/subscribe/img-bgn-mob@1x.webp');
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../img/subscribe/img-bgn-mob@2x.webp');
  }
}

@media only screen and (min-width: 376px) {
  .subscribe-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../img/subscribe/img-bgn-tabl@1x.webp');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../img/subscribe/img-bgn-tabl@2x.webp');
    }
  }
}

@media only screen and (min-width: 769px) {
  .subscribe-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../img/subscribe/img-bgn-desc@1x.webp');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../img/subscribe/img-bgn-desc@2x.webp');
    }
  }
}

@media only screen and (min-width: 768px) {
  .subscribe-section {
    padding-bottom: 72px;
    padding-bottom: 72px;
  }
}
.subscribe-title {
  width: 197px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  /* text-transform: appercase; */
  text-align: center;

  color: #fff;
  margin: 0 auto 24px auto;
}
.subscribe-text {
  max-width: 326px;
  height: 108px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;

  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .subscribe-text {
    max-width: 467px;
    height: 72px;
  }
}
.button-subscribe {
  width: 128px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 12px 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  background-color: var(--secondary-color);
  border-radius: 100px;
  border: none;
}
@media only screen and (min-width: 768px) {
  .button-subscribe {
    font-size: 18px;
    line-height: 1.22;
    width: 172px;
    height: 50px;
  }
}
