/* Title */
.ts-title {
  margin-bottom: 50px;
}

.ts-title-color {
  color: var(--secondary-color);
}

/* Img list */

.ts-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .ts-list  {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.ts-img {
  border-radius: 15px;
}

/* Buy now btn */

.ts-buy-btn {
  width: 162px;
  height: 50px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-text-color);
  background-color: var(--secondary-color);
  border-radius: 100px;
  border: none;
}

@media only screen and (max-width: 767px) {
  .ts-buy-btn {
    font-size: 14px;
    line-height: 1.21;
  }
}

.ts-buy-btn:hover,
.ts-buy-btn:focus {
  color: var(--secondary-color);
  background-color: var(--hover-btn-color);
}

/* Section desc */

.ts-info-cont {
  display: flex;
}

.ts-text {
  width: 306px;
  height: 90px;
} 

/* Tablet */

@media only screen and (min-width: 768px) {
  .ts-text {
    margin-right: 236px;
  }
}

/* Desctop */

@media only screen and (min-width: 1200px) {
  .ts-text {
    width: 407px;
    height: 72px;
    margin-right: 567px;
  } 
}

/* Hidden elements */

@media only screen and (max-width: 1199px) {
  .adpt-hidden {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .adpt-text {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .adpt-text-desc-tab {
    display: none;
  }
}